* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color-050: #FFFFFF;
    --color-300: #2DDE98;
    --color-500: #003566;
    --color-700: #050F2C;
    --color-950: #000814;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
    user-select: none;
}

section:first-child {
    height: 100dvh;
}

section:not(section:first-child) {
    padding: 80px 0;
}

section:nth-child(even) {
    background-color: var(--color-500);
}

section:nth-child(odd) {
    background-color: var(--color-700);
}
  
.container {
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--color-050);
    font-weight: 900;
}

h1 {
    font-size: 96px;
}

h2 {
    font-size: 78px;
    text-align: center;
}

h3 {
    font-size: 64px;
}

h4 {
    font-size: 48px;
}

h5 {
    font-size: 36px;
}

h6 {
    font-size: 32px;
}

a {
    text-decoration: none;
}

/* Header */
header {
    position: fixed;
    top: 50%;
    right: 50px;
    transform: translateY(-50%);
}

header nav {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

header nav a {
    background-color: var(--color-300);
    color: var(--color-950);
    font-size: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80px;
    transition: .3s;
}

header nav a:hover {
    background-color: var(--color-950);
    box-shadow: 0 0 25px var(--color-950);
    color: var(--color-050);
    transform: scale(1.2);
}

/* Section - Hero */
section#hero {
    background: linear-gradient(#050f2cbb, var(--color-700)), url("../img/Hero-Background.webp");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    align-items: center;
}

section#hero div.container {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

section#hero div.container div.hero--title span {
    color: var(--color-050);
    font-size: 30px;
    font-weight: 600;
}

section#hero div.container div.hero--title h5 {
    color: var(--color-300);
}

section#hero div.container div.hero--buttons {
    display: flex;
    gap: 50px;
}

section#hero div.container div.hero--buttons a:nth-of-type(1) {
    background-color: var(--color-950);
    border: 5px solid var(--color-950);
    color: var(--color-300);
    font-size: 24px;
    font-weight: 600;
    border-radius: 10px;
    padding: 20px 50px;
    transition: .3s;
}

section#hero div.container div.hero--buttons a:nth-of-type(1):hover {
    background-color: var(--color-300);
    border: 5px solid var(--color-300);
    color: var(--color-950);
    box-shadow: 0 0 25px var(--color-950);
}

section#hero div.container div.hero--buttons a:nth-of-type(2) {
    background-color: transparent;
    color: var(--color-300);
    font-size: 24px;
    font-weight: 600;
    border-radius: 10px;
    padding: 20px 50px;
    border: 5px solid var(--color-300);
    transition: .3s;
}

section#hero div.container div.hero--buttons a:nth-of-type(2):hover {
    background-color: var(--color-300);
    border: 5px solid var(--color-300);
    color: var(--color-950);
    box-shadow: 0 0 25px var(--color-950);
}

/* Section - About */
section#about div.container {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

section#about div.container div.about__elements {
    display: flex;
    gap: 50px;
}

section#about div.container div.about__elements div.about__elements--profile {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 25%;
}

section#about div.container div.about__elements div.about__elements--profile div.elements__profile--images img {
    border: 5px solid var(--color-050);
    border-radius: 10px;
    width: 100%;
    transition: .3s;
}

section#about div.container div.about__elements div.about__elements--profile div.elements__profile--images img:hover {
    border: 5px solid var(--color-300);
    box-shadow: 0 0 25px var(--color-950);
    transform: scale(1.05);
}

section#about div.container div.about__elements div.about__elements--profile div.elements__profile--icons {
    display: flex;
    justify-content: center;
    gap: 30px;
}

section#about div.container div.about__elements div.about__elements--profile div.elements__profile--icons a {
    background-color: var(--color-300);
    color: var(--color-950);
    font-size: 28px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    transition: .3s;
}

section#about div.container div.about__elements div.about__elements--profile div.elements__profile--icons a:hover {
    background-color: var(--color-950);
    box-shadow: 0 0 25px var(--color-950);
    color: var(--color-050);
    transform: scale(1.2);
}

section#about div.container div.about__elements div.about__elements--infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    width: 75%;
}

section#about div.container div.about__elements div.about__elements--infos div.elements__infos--texts {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

section#about div.container div.about__elements div.about__elements--infos div.elements__infos--texts p {
    color: var(--color-050);
    font-size: 22px;
}

section#about div.container div.about__elements div.about__elements--infos div.elements__infos--quantities {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

section#about div.container div.about__elements div.about__elements--infos div.elements__infos--quantities div.infos__quantities--card {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    background-color: var(--color-700);
    border-radius: 10px;
    transition: .3s;
}

section#about div.container div.about__elements div.about__elements--infos div.elements__infos--quantities div.infos__quantities--card:hover {
    background-color: var(--color-300);
    border-radius: 10px;
    box-shadow: 0 0 25px var(--color-950);
    transform: scale(1.05);
}

section#about div.container div.about__elements div.about__elements--infos div.elements__infos--quantities div.infos__quantities--card:hover > h4 {
    color: var(--color-950);
}

section#about div.container div.about__elements div.about__elements--infos div.elements__infos--quantities div.infos__quantities--card:hover > span {
    color: var(--color-950);
}

section#about div.container div.about__elements div.about__elements--infos div.elements__infos--quantities div.infos__quantities--card span {
    color: var(--color-300);
    font-size: 22px;
    font-weight: 600;
}

/* Section - Portfolio */
section#portfolio div.container {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

section#portfolio div.container div.portfolio__elements {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

section#portfolio div.container div.portfolio__elements div.elements__card {
    border: 5px solid var(--color-050);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border-radius: 15px;
    height: 300px;
    transition: .3s;
}

section#portfolio div.container div.portfolio__elements div.elements__card:hover {
    border: 5px solid var(--color-300);
    box-shadow: 0 0 25px var(--color-050);
    transform: scale(1.05);
}

section#portfolio div.container div.portfolio__elements div.elements__card:nth-of-type(1) {
    /* background: url("/img/Card-Jankenpon.png"); */
    background-position: center;
    background-size: cover;
}

section#portfolio div.container div.portfolio__elements div.elements__card:nth-of-type(2) {
    /* background: url("/img/Card-Random.png"); */
    background-position: center;
    background-size: cover;
}

section#portfolio div.container div.portfolio__elements div.elements__card span {
    color: var(--color-050);
    font-size: 32px;
    font-weight: 600;
}

section#portfolio div.container div.portfolio__elements div.elements__card span a {

}

/* Section - Experience */
section#experience div.container {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

section#experience div.container div.experience__elements {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

section#experience div.container div.experience__elements input[type="radio"] {
    display: none;
}

section#experience div.container div.experience__elements div.experience__elements--buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

section#experience div.container div.experience__elements div.experience__elements--buttons label {
    background-color: var(--color-700);
    color: var(--color-050);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    transition: .3s;
}

section#experience div.container div.experience__elements div.experience__elements--buttons label:hover {
    background-color: var(--color-050);
    color: var(--color-950);
    box-shadow: 0 0 25px var(--color-950);
    transform: scale(1.05);
}

section#experience div.container div.experience__elements div.experience__elements--buttons label i {
    font-size: 32px;
}

section#experience div.container div.experience__elements div.experience__elements--buttons label span {
    font-size: 24px;
    font-weight: 600;
}

section#experience div.container div.experience__elements div.experience__elements--content {
    background-color: var(--color-700);
    border-radius: 10px;
    padding: 30px;
}

section#experience div.container div.experience__elements div.experience__elements--content div.elements__content--cards {
    display: none;
}

section#experience div.container div.experience__elements input#experience1:checked ~ div.experience__elements--content div.elements__content--cards.experience1,
section#experience div.container div.experience__elements input#experience2:checked ~ div.experience__elements--content div.elements__content--cards.experience2,
section#experience div.container div.experience__elements input#experience3:checked ~ div.experience__elements--content div.elements__content--cards.experience3,
section#experience div.container div.experience__elements input#experience4:checked ~ div.experience__elements--content div.elements__content--cards.experience4 {
    display: grid !important;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

section#experience div.container div.experience__elements input#experience1:checked ~ div.experience__elements--buttons label[for="experience1"],
section#experience div.container div.experience__elements input#experience2:checked ~ div.experience__elements--buttons label[for="experience2"],
section#experience div.container div.experience__elements input#experience3:checked ~ div.experience__elements--buttons label[for="experience3"],
section#experience div.container div.experience__elements input#experience4:checked ~ div.experience__elements--buttons label[for="experience4"] {
    background-color: var(--color-300) !important;
    color: var(--color-950) !important;
    box-shadow: 0 0 25px var(--color-950);
}

section#experience div.container div.experience__elements div.experience__elements--content div.elements__content--cards div.content__cards--tech {
    background-color: var(--color-500);
    color: var(--color-050);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    padding: 30px;
}

section#experience div.container div.experience__elements div.experience__elements--content div.elements__content--cards div.content__cards--tech div.cards__tech--description {
    display: flex;
    flex-direction: column;
}

section#experience div.container div.experience__elements div.experience__elements--content div.elements__content--cards div.content__cards--tech div.cards__tech--description span:nth-of-type(1) {
    font-size: 24px;
    font-weight: 800;
}

section#experience div.container div.experience__elements div.experience__elements--content div.elements__content--cards div.content__cards--tech div.cards__tech--description span:nth-of-type(2) {
    font-size: 18px;
    font-weight: 600;
}

section#experience div.container div.experience__elements div.experience__elements--content div.elements__content--cards div.content__cards--tech div.cards__tech--description span:nth-of-type(3) {
    font-size: 14px;
    margin-top: 20px;
}

section#experience div.container div.experience__elements div.experience__elements--content div.elements__content--cards div.content__cards--tech div.cards__tech--links {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

section#experience div.container div.experience__elements div.experience__elements--content div.elements__content--cards div.content__cards--tech div.cards__tech--links span {
    font-size: 14px;
}

section#experience div.container div.experience__elements div.experience__elements--content div.elements__content--cards div.content__cards--tech div.cards__tech--links div.tech__links {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-items: center;
    gap: 20px;
}

section#experience div.container div.experience__elements div.experience__elements--content div.elements__content--cards div.content__cards--tech div.cards__tech--links div.tech__links img {
    border-radius: 50px;
    transition: .3s;
}

section#experience div.container div.experience__elements div.experience__elements--content div.elements__content--cards div.content__cards--tech div.cards__tech--links div.tech__links img:hover {
    box-shadow: 0 0 25px var(--color-950);
    transform: scale(1.1);
}











/* Section - Contact */
section#contact div.container {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

section#contact div.container div.contact__elements {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

section#contact div.container div.contact__elements div.contact__elements--infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

section#contact div.container div.contact__elements div.contact__elements--infos h5 {
    color: var(--color-300);
}

section#contact div.container div.contact__elements div.contact__elements--infos span {
    color: var(--color-050);
    font-size: 22px;
}

section#contact div.container div.contact__elements div.contact__elements--links {
    display: flex;
    justify-content: center;
    gap: 30px;
}

section#contact div.container div.contact__elements div.contact__elements--links a {
    background-color: var(--color-300);
    color: var(--color-950);
    font-size: 28px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    transition: .3s;
}

section#contact div.container div.contact__elements div.contact__elements--links a:hover {
    background-color: var(--color-950);
    box-shadow: 0 0 25px var(--color-950);
    color: var(--color-050);
    transform: scale(1.2);
}

footer {
    background-color: var(--color-500);
    padding: 30px 0;
}

footer div.container {
    display: flex;
    justify-content: space-between;
}

footer div.container span.footer--copyright,
footer div.container div.footer--icons {
    color: var(--color-050);
    font-size: 22px;
}

footer div.container div.footer--icons {
    display: flex;
    align-items: center;
    gap: 30px;
}
