@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url(/assets/fonts/OpenSans_Regular.ttf) format('ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url(/assets/fonts/OpenSans-SemiBold.ttf) format('ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url(/assets/fonts/OpenSans-Bold.ttf) format('ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url(/assets/fonts/OpenSans-ExtraBold.ttf) format('ttf');
  font-weight: 800;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
  --rich-black: #000814;
  --maastricht-blue: #001D3D;
  --dark-midnight-blue: #003566;
  --golden-poppy: #FFC300;
  --white: #FFFFFF;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
  /* -webkit-tap-highlight-color: transparent;
	-webkit-user-select: none;
	-ms-user-select: none; */
	user-select: none;
}

section {
  padding: 50px 0;
}

section:nth-child(odd) {
  background-color: var(--maastricht-blue);
}

section:nth-child(even) {
  background-color: var(--dark-midnight-blue);
}

h1 {
  color: var(--white);
  font-weight: 800;
  font-size: 3.6em;
  text-align: center;
}

.container {
  margin: 0 auto; 
  max-width: 1140px;
  width: 100%;
}

/* Header */
header {
  position: fixed;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
}

header nav {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

header nav a {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--golden-poppy);
  border-radius: 100px;
  color: var(--rich-black);
  font-size: 18px;
  height: 50px;
  width: 50px;
  text-decoration: none;
  transition: .3s;
}

header nav a:hover {
  box-shadow: 0px 0px 20px var(--rich-black);
  background-color: var(--rich-black);
  color: var(--white);
  font-size: 20px;
}

/* Section - Hero */
section.section_home {
  display: flex;
  align-items: center;
  height: 100dvh;
}

section.section_home .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

section.section_home .container .widget_multiple-titles {
  display: flex;
  flex-direction: column;
}

section.section_home .container .widget_multiple-titles span:nth-child(1) {
  color: var(--white);
  font-size: 2.4em;
  font-weight: 600;
}

section.section_home .container .widget_multiple-titles span:nth-child(2) {
  color: var(--white);
  font-size: 4.2em;
  font-weight: 700;
}

section.section_home .container .widget_multiple-titles span:nth-child(3) {
  color: var(--golden-poppy);
  font-size: 2em;
  font-weight: 600;
}

section.section_home .container .widget_multiple-buttons {
  display: flex;
  gap: 30px;
}

section.section_home .container .widget_multiple-buttons a {
  background-color: var(--rich-black);
  border: 3px solid transparent;
  border-radius: 5px;
  color: var(--white);
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 600;
  padding: 14px 32px;
  transition: .3s;
  text-decoration: none;
}

section.section_home .container .widget_multiple-buttons a:hover {
  box-shadow: 0px 0px 20px var(--rich-black);
  background-color: var(--golden-poppy);
  color: var(--maastricht-blue);
}

/* Section - About */
section.section_about .container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

section.section_about .container .widget_about {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

section.section_about .container .widget_about .component_profile {
  display: flex;
  gap: 50px;
}

section.section_about .container .widget_about .component_profile .element_image,
section.section_about .container .widget_about .component_profile .element_text {
  width: 50%;
}

section.section_about .container .widget_about .component_profile .element_text p {
  color: var(--white);
  line-height: 24px;
  margin: 1em;
}

section.section_about .container .widget_about .component_data {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

section.section_about .container .widget_about .component_data .element_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: var(--maastricht-blue);
  border-radius: 10px;
  cursor: default;
  padding: 20px;
  transition: .3s;
}

section.section_about .container .widget_about .component_data .element_card:hover {
  background-color: var(--golden-poppy);
  box-shadow: 0px 0px 20px var(--rich-black);
}

section.section_about .container .widget_about .component_data .element_card span:nth-child(1) {
  color: var(--golden-poppy);
  font-size: 3em;
  font-weight: 800;
}

section.section_about .container .widget_about .component_data .element_card span:nth-child(2) {
  color: var(--white);
  font-size: 1em;
  font-weight: 600;
}

section.section_about .container .widget_about .component_data .element_card:hover > span:nth-child(1) {
  color: var(--dark-midnight-blue);
}

section.section_about .container .widget_about .component_data .element_card:hover > span:nth-child(2) {
  color: var(--maastricht-blue);
}

/* ---------------------------------------------------- Verify ---------------------------------------------------- */

/* Section - Skills */
section.section_skills .container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

section.section_skills .container .widget_skills {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

section.section_skills .container .widget_skills .component_navigation {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

section.section_skills .container .widget_skills .component_navigation label {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  background-color: var(--dark-midnight-blue);
  border-radius: 10px;
  cursor: pointer;
  padding: 20px;
  transition: .3s;
}

section.section_skills .container .widget_skills .component_navigation label i {
  color: var(--golden-poppy);
  font-size: 1.6em;
}

section.section_skills .container .widget_skills .component_navigation label span {
  color: var(--white);
  font-size: 1em;
  font-weight: 600;
}

section.section_skills .container .widget_skills .component_navigation label:hover {
  background-color: var(--golden-poppy);
}

section.section_skills .container .widget_skills .component_navigation label:hover > i {
  color: var(--dark-midnight-blue);
}

section.section_skills .container .widget_skills .component_navigation label:hover > span {
  color: var(--maastricht-blue);
}

section.section_skills .container .widget_skills .component_information {
  background-color: var(--dark-midnight-blue);
  border-radius: 20px;
  padding: 16px;
}

section.section_skills .container .widget_skills .component_information .element_tabs > input {
  display: none;
}

section.section_skills .container .widget_skills .component_information .element_tabs > input + .cards .card,
section.section_skills .container .widget_skills .component_information .element_tabs > input + .cards .card span:nth-child(1),
section.section_skills .container .widget_skills .component_information .element_tabs > input + .cards .card span:nth-child(2),
section.section_skills .container .widget_skills .component_information .element_tabs > input + .cards .card ul {
  display: none;
}

section.section_skills .container .widget_skills .component_information .element_tabs > input:checked + .cards .card,
section.section_skills .container .widget_skills .component_information .element_tabs > input:checked + .cards .card span:nth-child(1),
section.section_skills .container .widget_skills .component_information .element_tabs > input:checked + .cards .card span:nth-child(2),
section.section_skills .container .widget_skills .component_information .element_tabs > input:checked + .cards .card ul {
  display: block;
}

section.section_skills .container .widget_skills .component_information .element_tabs .cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

section.section_skills .container .widget_skills .component_information .element_tabs .cards .card {
  background-color: var(--maastricht-blue);
  color: var(--white);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 20px;
}

section.section_skills .container .widget_skills .component_information .element_tabs .cards .card span:nth-child(1) {
  font-size: 1.4em;
  font-weight: 600;
}

section.section_skills .container .widget_skills .component_information .element_tabs .cards .card span:nth-child(2) {
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 20px;
}

section.section_skills .container .widget_skills .component_information .element_tabs .cards .card ul {
  font-size: 1em;
  list-style-position: inside;
  line-height: 1.4em;
}

/* Section - Experience */
section.section_experience .container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

/* Section - Portfolio */
section.section_portfolio .container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

/* Section - Contact */
section.section_contacts .container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

section.section_contacts .container .widget_contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

section.section_contacts .container .widget_contacts span:nth-child(1) {
  color: var(--golden-poppy);
  font-size: 2em;
  font-weight: 600;
}

section.section_contacts .container .widget_contacts span:nth-child(2) {
  color: var(--white);
  font-size: 1em;
  line-height: 24px;
}

section.section_contacts .container .widget_contacts .element_socials {
  display: flex;
  gap: 25px;
}

section.section_contacts .container .widget_contacts .element_socials a {
  background-color: var(--maastricht-blue);
  border-radius: 5px;
  color: var(--white);
  font-size: 1.6em;
  text-decoration: none;
  transition: .3s;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
}

section.section_contacts .container .widget_contacts .element_socials a:hover {
  background-color: var(--golden-poppy);
  color: var(--maastricht-blue);
}

/* Footer */
footer {
  background-color: var(--maastricht-blue);
  padding: 20px 0;
}

footer .container {
  display: flex;
  justify-content: space-between;
}

footer .container .widget_copyright, 
footer .container .widget_techs {
  display: flex;
  align-items: center;
  color: var(--white);
}

footer .container .widget_copyright {
  font-size: 1em;
}

footer .container .widget_techs {
  display: flex;
  gap: 25px;
  font-size: 1.4em;
}

